body {
	margin: 0;
	background-color: #FFE1C3;
	font-family: calibri, arial, helvetica, sans-serif;
}

header {
	background-color: #B98755;
	color: #704113;
	font-weight: bold;
	font-size: 250%;
	text-align: center;
}

nav ul {
	list-style: none;
	background-color: #FFEDC3;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav ul li {
	display: inline;
	font-weight: bold;
}

nav ul li a {
	padding: 5px 3em;
}

nav ul li a:link {
	color: #705313;
	text-decoration: none;
	background-color: #ffedc3;
}

nav ul li a:hover {
	color: #e0c68a;
	background-color: #997a32;
	text-decoration: none;
}

aside {
	color: #14204c;
	background-color: #929ab8;
	border: medium dotted #14204c;
	padding: 0.5em;
	margin-top: 1em;
}

footer {
	background-color: #84A3AB;
	border: thin solid #21535F;
	padding: 1em;
}

main {
	margin: 1em;
	padding: 1em 1em;
}